<%= render "shared/page_title", title: "Uredi račun" %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
        <%= f.label :name %>
        <%= f.text_field :name %>
      
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      
    
      
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
    
    
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      
    
      <div class="actions">
        <%= f.submit "Uredi", class: "btn btn-lg btn-success" %>
      </div>
    <% end %>
    <%= link_to "Nazaj", :back %>
  </div>
</div>
<div class="row">
    <div class="well col-md-8 col-md-offset-2">
    <h3 class="text-center">Izbrišite račun</h3>
    
    <p><%= button_to "Izbriši moj račun",  registration_path(resource_name), data: { confirm: "Ste prepričani?" }, method: :delete, class: "btn btn-lg btn-danger" %></p>
  </div>
</div>

